core/src/main/resources/META-INF/mule-kie.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesoft.org/schema/mule/kie"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesoft.org/schema/mule/core"
            xmlns:schemadoc="http://www.mulesoft.org/schema/mule/schemadoc"
            targetNamespace="http://www.mulesoft.org/schema/mule/kie"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/core"
                schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd" />

    <xsd:annotation>
        <xsd:documentation>
            Mule Utilities for KIE.
        </xsd:documentation>
        <xsd:appinfo>
            <schemadoc:short-name>KIE</schemadoc:short-name>
            <schemadoc:page-title>KIE Module</schemadoc:page-title>
        </xsd:appinfo>
    </xsd:annotation>

    <!--==============================================================-->
    <!--   Session Definition                                         -->
    <!--==============================================================-->

    <xsd:element name="local-session" type="localSessionType" substitutionGroup="mule:abstract-extension"/>
    <xsd:complexType name="localSessionType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractExtensionType">
                <xsd:attribute name="name" type="mule:substitutableName" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Identifies the session configuration in the registry, so that it can be referenced by the message processors.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="kieSessionName" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation>
                            Specifies the KIE Session name.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="kieBaseName" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation>
                            Specifies the KIE Base name.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="resources" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            The location of the local resources. This may be either a path to a local jar or directory.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="remote-session" type="remoteSessionType" substitutionGroup="mule:abstract-extension"/>
    <xsd:complexType name="remoteSessionType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractExtensionType">
                <xsd:attribute name="name" type="mule:substitutableName" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Identifies the session configuration in the registry, so that it can be referenced by the message processors.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="deploymentId" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            The remote deployment id.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="url" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            The base url to connect to.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="user" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            The user to connect to the remote server.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="pass" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            The password to connect to the remote server.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <!--==============================================================-->
    <!--   Message Processors                                         -->
    <!--==============================================================-->

    <xsd:element name="start" type="startType" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Component that starts a jBPM process.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="startType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractMessageProcessorType">
                <xsd:attribute name="session-ref" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            A reference to the session to use to start the process.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="process" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            The process name to start.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <!--==============================================================-->
    <xsd:element name="abort" type="abortType" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Component that aborts a jBPM process.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="abortType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractMessageProcessorType">
                <xsd:attribute name="session-ref" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            A reference to the session to use to start the process.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <!--==============================================================-->
    <xsd:element name="upsert" type="upsertType" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Inserts or updates the message's payload as a fact
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="upsertType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractMessageProcessorType">
                <xsd:attribute name="session-ref" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            A reference to the session to use.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="fireRules" type="mule:substitutableBoolean" default="false">
                    <xsd:annotation>
                        <xsd:documentation>
                            If true, executes the rules immediately after the insert or update operation.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <!--==============================================================-->
    <xsd:element name="fire-rules" type="fireRulesType" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Fires all the rules
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="fireRulesType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractMessageProcessorType">
                <xsd:attribute name="session-ref" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            A reference to the session to use.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <!--==============================================================-->
    <xsd:element name="delete" type="deleteType" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Deletes the message's payload from the registered facts
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="deleteType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractMessageProcessorType">
                <xsd:attribute name="session-ref" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            A reference to the session to use.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <!--==============================================================-->
    <xsd:element name="set-global" type="setGlobalType" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Sets a global variable
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="setGlobalType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractMessageProcessorType">
                <xsd:attribute name="session-ref" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            A reference to the session to use.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="globalName" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            The global variable name.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="value" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            The global variable value.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <!--==============================================================-->
    <xsd:element name="get-global" type="getGlobalType" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Gets a global variable
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="getGlobalType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractMessageProcessorType">
                <xsd:attribute name="session-ref" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            A reference to the session to use.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="globalName" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            The global variable name.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>